body {
    margin: 0;
    padding: 0;
    background-image: url("../img/bg.png");
    overflow-x: hidden;
}

#logo
{
    margin: auto;
    width: 100px;
    display: block;
    margin-top: 50px;
}

input {
    margin: 0 10px 10px 10px;
    border: none;
    border-bottom: 2px #27ae60 solid;
    background: none;
    width: 70%;
    height: 3em;
    font-weight: bold;
    color: #ecf0f1;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: .7em;
    outline: none;
}

.flag {
    width: calc(20% + 50px);
    height: 50px;
    transform: skew(50deg);
    margin: auto;
    min-width: 185px;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

.flag h1 {
    transform: skew(-50deg);
    display: block;
    text-align: center;
    font-family: 'Muli', sans-serif;
    position: relative;
    top: 5px;
}

.textgreen {
    color: #27ae60;
}

.textneutrallight {
    color: #34495e;
}

.textneutral {
    color: #2c3e50;
}

.flaggreen
{
    background-color: #27ae60;
}

.flagneutral
{
    background-color: #2c3e50;
}

.formitem
{
    transition: .3s ease-in-out;
    padding: 0 5px 0 5px;
}

.formitem:focus {
    font-size: .9em;
    padding: 0;
    line-height: 1em;
    border-color: #2ecc71;
}

.button {
    width: 40%;
    height: 3em;
    margin-top: 20px;
    font-size: 1em;
    cursor: pointer;
}

.button:hover {
    border-color: #2ecc71;
}

.button:active {
    border-color: #27ae60;
}

#register
{
    max-width: 800px;
    padding: 30px;
    text-align: center;
    margin: auto;
}

.buttongreen {
    color: #27ae60;
    border: 2px solid #27ae60;
}

.buttonplain {
    color: #2c3e50;
    border: 2px solid #2c3e50;
}

#pagecontent {
    margin: 50px 20% 150px 20%;
}
