* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
  
body {
    margin: 0;
    padding: 0;
    background-image: url("../img/bg.png");
    overflow-x: hidden;
}

hr {
    border: #34495e 1px solid;
}

h1, p {
    margin: 0;
    font-family: 'Muli', sans-serif;
}

#body {
    margin: 50px 20% 150px 20%;
}

.errorticker
{
    width: calc(100% + 65px);
    margin: 0 0 0 -40px;
    background-color: #e74c3c;
    padding: 5px 0 5px 15px;
    font-family: 'Muli', sans-serif;
    animation: tickertoggle 1s;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    display: none;
    color: #ecf0f1;
    z-index: -1;
    position: relative;
}

@keyframes tickertoggle
{
    0%
    {
        margin-top: -40px;
    }

    100%
    {
        margin-top: 0px;
    }
}



.divheader
{
    width: calc(100% + 80px);
    height: 50px;
    background-color: #34495e;
    margin: -20px 0 0 -40px;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    z-index: 5;
}

#menulogo
{
    margin: auto;
    width: 200px;
    display: block;
    margin-top: 150px;
}

.textgreen {
    color: #27ae60;
}

.textgray {
    color: #2c3e50;
}

.textcenter {
    text-align: center;
}

#logincontainer {
    background-color: #2c3e50;
    padding: 20px;
    max-width: 350px;
    min-width: 150px;
    margin: auto;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

.loginbuttons {
    background-color: #34495e;
    width: 90%;
    margin: 15px auto 0 auto;
    height: 1.7em;
    text-align: center;
    padding: .2em 0 0 0;
    border: 3px #2c3e50 solid;
    color: #ecf0f1;
    font-family: 'Source Sans Pro', sans-serif;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.loginbuttons:hover
{
    border-left: #27ae60 1px solid;
}

#loginbutton {
    border: 2px solid #27ae60;
    width: 40%;
    height: 3em;
    margin-top: 20px;
    color: #27ae60;
    font-size: 1em;
    cursor: pointer;
}

input {
    margin: 0 10px 10px 10px;
    border: none;
    border-bottom: 2px #27ae60 solid;
    background-color: #2c3e50;
    width: 70%;
    height: 3em;
    font-weight: bold;
    color: #ecf0f1;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: .7em;
    outline: none;
}

.formitem
{
    transition: .3s ease-in-out;
    padding: 0 5px 0 5px;
}

.formitem:focus {
    font-size: .9em;
    padding: 0;
    line-height: 1em;
}

.shakeonload {
    animation: shake forwards .3s ease;
}

@keyframes shake
{
    0% { transform: translate(-10px, 0) }
    25% { transform: translate(10px, 0) }
    50% { transform: translate(-10px, 0) }
    75% { transform: translate(10px, 0) }
    100% { transform: translate(0, 0) }
}
