body {
    margin: 0;
    padding: 0;
    background-image: url("../img/bg.png");
}

#body {
    margin: 150px 20% 150px 20%;
}

.textgreen {
    color: #27ae60;
}

.textgray {
    color: #2c3e50;
}

.textcenter {
    text-align: center;
}

#logincontainer {
    background-color: #2c3e50;
    padding: 20px;
    max-width: 350px;
    min-width: 150px;
    margin: auto;
}

input {
    margin: 10px;
}